.select2-container {
  width: 100% !important;
  &--default.select2-container--focus{
    .select2-selection--multiple {
      border: none !important;
      background-color: #f5f5f5 !important;
    }
  }
  &--default {
    .select2-selection{
      &--single {
        border: none;
        background-color: $border-line;
        border-radius: 0;
      }
      &--multiple {
        border-radius: 0 !important;
        border: none !important;
        background-color: #f5f5f5 !important;
      }
      &__choice {
        background-color: #e05c50  !important;
        color: #fff !important;
        border: none !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        &__remove {
          color: #fff !important;
        }
      }
    }
  }
}
