<div class="col-sm-6 col-md-4 ">
    <label>IZABERITE DATUM:</label>
    <div class="col-sm-12 no-float no-padding">
        <div class="datepicker-wrap">
            <input type="text" name="calendarDate" class="input-text full-width calendar-input" />
        </div>
    </div>
</div>
<div class="calendar-legend col-md-8">
    <label class="available">Slobodan termin</label>
    <label class="unavailable">Rezervisano</label>
    <label class="past">Prošlo</label>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="calendar"></div>
    </div>
</div>