<div id="dropzone" class="dropzone {{ class }}" data-files="{{ dropzoneName }}" data-max-files="{{ maxFiles }}">
    <div>
        <input type="file" multiple="multiple" id="dropzone-input" name="{{ dropzoneName }}"
               accept="image/gif, image/jpeg, image/png" class="dropzone__input">
        <div class="dropzone-placeholder">Kliknite ili prevucite slike</div>
        <ul class="dropzone-file-wrapper clearfix"></ul>
    </div>
    <div class="dropzone__loader hide d-none"></div>
</div>