<ul class="pagination clearfix hide">
    <li class="first page-btn" data-page="1">
        <a href="#"><<</a>
    </li>
    <li class="prev page-btn"><a href="#"><</a></li>
    <li class="active page-btn"><a href="#"></a></li>
    <li class="next page-btn"><a href="#">></a></li>
    <li class="last page-btn"><a href="#">>></a></li>
</ul>