<div class="photo-gallery style1" id="photo-gallery1" data-animation="slide" data-sync="#image-carousel1">
    <ul class="slides">
        {% if images is defined %}
            {% for img in images %}
            <li><img src="{{ img['ImageUrl'] }}" alt="" /></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
<div class="image-carousel style1" id="image-carousel1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photo-gallery1">
    <ul class="slides">
        {% if images is defined %}
            {% for img in images %}
                <li><img src="{{ img['ThumbUrl'] }}" alt="" /></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>