<div class="search-box-wrapper general-search">
    <div class="container">
        <div class="search-tab-content">
            <div class="tab-pane fade active in" id="hotels-tab">
                <form id="index-search-form">
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-5">
                            <h4 class="title">Pretraga</h4>
                            <label>Mesto</label>
                            <input type="text" id="search-city" name="search-city" class="input-text full-width general-search__input city" placeholder="unesite naziv mesta">
                        </div>

                        <div class="form-group col-sm-6 col-md-5">
                            <h4 class="title">&nbsp;</h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Kategorija</label>
                                    <div class="selector">
                                        <select class="full-width" id="search-category" name="search-category"></select>
                                        <span class="custom-select full-width"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 col-md-2 fixheight">
                            <label class="hidden-xs">&nbsp;</label>
                            <button id="search-index-btn" class="full-width icon-check animated bounce" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Pronađi</button>
                        </div>
                    </div>
                    <em class="general-search__error hide">Molimo vas unesite barem jedan pojam u pretragu.</em>
                </form>
            </div>
        </div>
    </div>
</div>