{# src/SiteBundle/Resources/views/Moduls/slider.html.html.twig #}
<div id="slideshow">
    <div class="fullwidthbanner-container">
        <div class="revolution-slider rev_slider" style="height: 0; overflow: hidden;">
            <ul>    <!-- SLIDE  -->
                <!-- Slide1 -->
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset("bundles/site/images/slider/celebration-bg.jpg") }}" alt="">
                </li>

                {#<!-- Slide2 -->#}
                {#<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">#}
                    {#<!-- MAIN IMAGE -->#}
                    {#<img src="{{ asset("bundles/site/images/slider/3.jpg") }}" alt="">#}
                {#</li>#}
            </ul>
        </div>
    </div>
</div>