<div id="socialIconBar" class="sidenav">
    <a href="#" id="facebook-sharer" data-url="{{ absolute_url(app.request.requestUri) }}">
        <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a id="google-sharer" href="https://plus.google.com/share?url={{ absolute_url(app.request.requestUri) }}" title="Google Plus Share">
        <i class="fa fa-google-plus fa-lg"></i>
    </a>
</div>