<div class="col-xs-12">
    <label for="youtubeUrl">Youtube Url:</label>
    <input type="text" name="youtubeUrl" id="youtubeUrl"
           class="input-text col-xs-12 col-sm-8 col-md-10">
    <button type="button" class="button btn-medium col-xs-12 col-sm-4 col-md-2 youtube-add-btn">Dodaj</button>
</div>
<div class="col-xs-12 sm-section">
    <ul id="youtube-video-lists"></ul>
</div>
